################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordInteropApiTest/bin/Debug
/WordInteropApiTest/obj/Debug
/.vs/WordInteropApiTest/v16
/packages/Microsoft.Office.Interop.Word.15.0.4797.1003
